{% extends 'base.html' %}
{% load static %}

{% block content %}
    <!--breadcrumb-->
    <div class="page-breadcrumb d-none d-sm-flex align-items-center mb-3">
        <div class="breadcrumb-title pe-3">Profile</div>
        <div class="ps-3">
            <nav aria-label="breadcrumb">
                <ol class="breadcrumb mb-0 p-0">
                    <li class="breadcrumb-item"><a href="javascript:;"><i class="bx bx-home-alt"></i></a>
                    </li>
                    <li class="breadcrumb-item active" aria-current="page">Categories</li>
                </ol>
            </nav>
        </div>
    </div>
    <!--end breadcrumb-->
    <div class="row">
        <div class="col-xl-7 mx-auto">
            <h6 class="mb-0 text-uppercase">Category</h6>
            <hr/>
            <div class="card border-top border-0 border-4 border-primary">
                <div class="card-body p-5">
                    <div class="card-title d-flex align-items-center">
                        <h5 class="mb-0 text-primary"><i class="bx bxs-baby-carriage me-1 font-22 text-primary"></i>Add Category</h5>
                    </div>
                    <hr>
                    <form class="row g-3" method="post">
                        {% csrf_token %}
                        <div class="col-md-12">
                            <label for="{{ category_form.title.id_for_label }}" class="form-label">Title</label>
                            <input type="text" name="{{ category_form.title.name }}" class="form-control"
                                   id="{{ category_form.title.id_for_label }}"
                                   {% if category_form.title.value != None %}value="{{ category_form.title.value|stringformat:'s' }}"{% endif %}{% if category_form.title.field.required %}required{% endif %}>
                            <div>{{ category_form.title.help_text }}</div>
                            <div class="invalid-feedback">{{ category_form.title.errors }}</div>
                        </div>
                        <div class="col-md-12">
                            <label for="{{ category_form.description.id_for_label }}" class="form-label">Description</label>
                            <textarea name="{{ category_form.description.name }}" class="form-control"
                                   id="{{ category_form.description.id_for_label }}"
                                      {% if category_form.description.value != None %}value="{{ category_form.description.value|stringformat:'s' }}"{% endif %}{% if category_form.description.field.required %}required{% endif %}></textarea>
                            <div>{{ category_form.description.help_text }}</div>
                            <div class="invalid-feedback">{{ category_form.description.errors }}</div>
                        </div>

                        <div class="col-12">
                            <button type="submit" class="btn btn-primary px-5">Save</button>
                        </div>
                    </form>
                </div>
            </div>
        </div>
    </div>
{% endblock %}