{% extends 'base_auth.html' %}
{% load static %}

{% block content %}
    <div class="d-flex align-items-center justify-content-center my-5">
			<div class="container">
				<div class="row row-cols-1 row-cols-lg-2 row-cols-xl-2">
					<div class="col mx-auto">
						<div class="card mt-5">
							<div class="card-body">
								<div class="border p-4 rounded">
									<div class="text-center">
										<h3 class="">Sign Up</h3>
										<p>Already have an account? <a href="{% url 'login' %}">Sign in here</a>
										</p>
									</div>

									<div class="form-body">
										<form class="row g-3" action="/user/registration/" method="post">
                                            {% csrf_token %}

                                            <div class="col-12">
												<label for="{{ form.username.id_for_label }}" class="form-label">Username</label>
												<input type="text" name="{{ form.username.name }}" class="form-control" id="{{ form.username.id_for_label }}" {% if form.username.value != None %}value="{{ form.username.value|stringformat:'s' }}"{% endif %}{% if form.username.field.required %}required{% endif %}>
                                                <div>{{ form.username.help_text }}</div>
                                                <div class="invalid-feedback">{{ form.username.errors }}</div>
                                            </div>
											<div class="col-12">
												<label for="{{ form.email.id_for_label }}" class="form-label">Email</label>
												<input type="email" name="{{ form.email.name }}" class="form-control" id="{{ form.email.id_for_label }}" placeholder="example@user.com" {% if form.email.value != None %}value="{{ form.email.value|stringformat:'s' }}"{% endif %}{% if form.email.field.required %}required{% endif %}>
                                                <div>{{ form.email.help_text }}</div>
                                                <div class="invalid-feedback">{{ form.email.errors }}</div>
											</div>
											<div class="col-12">
												<label for="{{ form.password1.id_for_label }}" class="form-label">Password</label>
												<div class="input-group" id="show_hide_password">
													<input type="password" class="form-control border-end-0" name="{{ form.password1.name }}" id="{{ form.password1.id_for_label }}" placeholder="Enter Password" {% if form.password1.value != None %}value="{{ form.password1.value|stringformat:'s' }}"{% endif %}{% if form.password1.field.required %}required{% endif %}> <a href="javascript:;" class="input-group-text bg-transparent"><i class='bx bx-hide'></i></a>
												</div>
                                                <div>{{ form.password1.help_text }}</div>
                                                <div class="invalid-feedback">{{ form.password1.errors }}</div>
											</div>
                                            <div class="col-12">
												<label for="{{ form.password2.id_for_label }}" class="form-label">Confirm Password</label>
												<div class="input-group" id="show_hide_password">
													<input type="password" class="form-control border-end-0" name="{{ form.password2.name }}" id="{{ form.password2.id_for_label }}" placeholder="Enter Password" {% if form.password2.value != None %}value="{{ form.password2.value|stringformat:'s' }}"{% endif %}{% if form.password2.field.required %}required{% endif %}> <a href="javascript:;" class="input-group-text bg-transparent"><i class='bx bx-hide'></i></a>
												</div>
                                                <div>{{ form.password2.help_text }}</div>
                                                <div class="invalid-feedback">{{ form.password2.errors }}</div>
											</div>
											<div class="col-12">
												<div class="d-grid">
													<button type="submit" class="btn btn-primary"><i class='bx bx-user'></i>Sign up</button>
												</div>
											</div>
										</form>
									</div>
								</div>
							</div>
						</div>
					</div>
				</div>
				<!--end row-->
			</div>
		</div>
{% endblock %}